# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pkl

# Envs
.venv/
venv/
.env
.conda/
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Data + artifacts (DO NOT COMMIT)
data/
**/data/
results/runs/
checkpoints/
snapshot/
*.pt
*.pth
*.ckpt
*.onnx
*.npy
*.npz

# Logs
*.log
wandb/
tensorboard/
